### Importing Library:

In [2]:
import pandas as pd

### Loading "Matches" Dataset:

In [3]:
data1 = pd.read_csv("matches.csv")
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
data1.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

### Filtering MI and KXIP matches only:

In [4]:
mi_kxip = data1.loc[((data1['team1'] == 'Mumbai Indians') & (data1['team2'] == 'Kings XI Punjab') | (data1['team1'] == 'Kings XI Punjab') & (data1['team2'] == 'Mumbai Indians'))]
mi_kxip.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
21,22,2017,Indore,2017-04-20,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,8,JC Buttler,Holkar Cricket Stadium,M Erasmus,C Shamshuddin,NaN
49,50,2017,Mumbai,2017-05-11,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,normal,0,Kings XI Punjab,7,0,WP Saha,Wankhede Stadium,A Deshmukh,A Nand Kishore,NaN
68,69,2008,Chandigarh,2008-04-25,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,normal,0,Kings XI Punjab,66,0,KC Sangakkara,"Punjab Cricket Association Stadium, Mohali",Aleem Dar,AM Saheba,NaN
105,106,2008,Mumbai,2008-05-21,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,normal,0,Kings XI Punjab,1,0,SE Marsh,Wankhede Stadium,BF Bowden,GA Pratapkumar,NaN
134,135,2009,Durban,2009-04-29,Kings XI Punjab,Mumbai Indians,Kings XI Punjab,bat,normal,0,Kings XI Punjab,3,0,KC Sangakkara,Kingsmead,MR Benson,SL Shastri,NaN

## Question 1: Who will win the match?

#### Solution: Checking counts of winner:

In [5]:
mi_kxip['winner'].value_counts()/mi_kxip.shape[0] * 100

Mumbai Indians     54.166667
Kings XI Punjab    45.833333
Name: winner, dtype: float64

**Answer:** As per the above counts, MI and KXIP won 54 % and 46% respectively. But, as per the teams' skill in this season,  I would predict that KXIP will win today's match.

## Question 2:  To what type of bowler will Quinton De Kock get out to?

#### Solution: Observing dismissal kind of Quinton De Kock:

### Loading "Deliveries" dataset:

In [6]:
data2 = pd.read_csv("deliveries.csv")
data2.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,2,0,0,0,0,0,2,2,NaN,NaN,NaN

### Filtering RCB and KXIP matches where batting team is KXIP and bowling team is RCB:

In [7]:
qdc_out = data2.loc[(data2['batsman'] == "Q de Kock")]
qdc_out = pd.DataFrame(qdc_out.groupby('bowler')['player_dismissed'].count())
qdc_out.sort_values('player_dismissed', ascending=False).head(10)

                player_dismissed
bowler
YS Chahal                      3
MJ McClenaghan                 3
R Ashwin                       2
AB Dinda                       2
AD Russell                     2
KH Pandya                      2
KV Sharma                      2
DL Chahar                      2
I Sharma                       1
DW Steyn                       1

**Answer:** If we notice overall Q De Kock's dismissals, we found that most of the times he got out on fast bowler.

## Question 3:  How many wickets will KXIP lose in the powerplay?

#### Solution: Filtering data where batting team is KXIP:

In [8]:
kxip_wickets = data2.loc[(data2['batting_team'] == 'Kings XI Punjab') & ((data2['over']>=1) & (data2['over'] <=6))]
kxip_wickets = pd.DataFrame(kxip_wickets.groupby('match_id')['player_dismissed'].count())
kxip_wickets

          player_dismissed
match_id
4                        2
8                        1
11                       1
15                       3
19                       2
22                       1
26                       1
32                       3
35                       0
42                       2
46                       1
48                       2
50                       1
54                       5
61                       1
65                       1
69                       1
73                       2
77                       1
81                       1
84                       1
91                       2
94                       0
97                       0
100                      3
106                      1
108                      0
112                      1
116                      4
120                      1
123                      1
127                      0
130                      2
135                      2
139                      0
142                      2
145                      4
149                      1
151                      2
157                      3
161                      3
164                      3
169                      1
177                      3
181                      0
186                      3
190                      2
193                      1
196                      2
201                      2
205                      1
208                      1
212                      1
215                      1
218                      0
225                      1
228                      1
239                      5
243                      1
249                      0
256                      1
259                      1
270                      2
273                      1
280                      4
284                      1
287                      1
290                      2
293                      1
296                      1
300                      2
311                      2
315                      2
321                      1
325                      2
330                      1
333                      2
336                      0
340                      1
343                      0
350                      1
354                      2
359                      0
366                      2
369                      2
371                      0
374                      4
387                      1
391                      2
398                      3
400                      1
405                      1
409                      2
412                      0
415                      0
421                      2
425                      2
429                      1
436                      1
440                      1
443                      3
448                      2
450                      2
460                      3
464                      2
466                      0
472                      2
475                      2
479                      2
486                      2
488                      1
491                      2
496                      1
502                      0
505                      1
509                      1
512                      2
514                      2
516                      0
517                      2
520                      3
524                      0
528                      1
532                      3
536                      3
542                      2
544                      2
548                      4
552                      2
557                      5
560                      1
564                      1
566                      4
569                      3
579                      0
583                      1
586                      0
589                      1
594                      2
597                      2
604                      0
608                      3
612                      1
615                      1
619                      1
622                      1
626                      4
629                      0
7895                     2
7901                     3
7905                     0
7909                     0
7911                     0
7915                     2
7918                     0
7927                     0
7931                     2
7933                     2
7937                     2
7941                     3
7943                     1
7949                     3
11140                    1
11142                    2
11145                    0
11149                    2
11309                    2
11313                    1
11315                    0
11319                    0
11323                    1
11328                    2
11333                    1
11339                    1
11343                    2
11346                    0

### Average wickets in powerplay:

In [9]:
avg_wic = kxip_wickets['player_dismissed'].mean()
avg_wic

1.5227272727272727

**Answer:** On an average, KXIP loses 1-2 wickets in powerplay.

## Question 4:  How wil KL Rahul get out?

#### Filtering KL Rahul's batting data:

In [10]:
kl_dismissal = data2.loc[(data2['batsman'] == "KL Rahul")]
kl_dismissal = pd.DataFrame(kl_dismissal.groupby('dismissal_kind')['player_dismissed'].count())
kl_dismissal

                player_dismissed
dismissal_kind
bowled                        10
caught                        30
lbw                            4
run out                        3
stumped                        2

**Answer:** As per the analysis, we see that KL Rahul mostly hets out by **caught**.

## Question 5: How many wickets will fall in total during the match?

#### Solution: Filtering data with MI and KXIP Matches:

In [13]:
mi_kxip_wickets = data2.loc[((data2['batting_team'] == "Mumbai Indians") & (data2['bowling_team'] == "Kings XI Punjab") | (data2['batting_team'] == "Kings XI Punjab") & (data2['bowling_team'] == "Mumbai Indians"))]
mi_kxip_wickets = pd.DataFrame(mi_kxip_wickets.groupby('match_id')['player_dismissed'].count())
mi_kxip_wickets = mi_kxip_wickets.rename({'player_dismissed' : 'No. of wickets'}, axis=1)
mi_kxip_wickets

          No. of wickets
match_id
22                     6
50                     9
69                    19
106                   14
135                   15
157                   11
201                   16
215                   13
273                   13
287                   18
336                   10
340                    9
421                   13
450                   17
479                   10
505                   11
524                   12
552                   10
597                   13
619                   12
7927                  10
7943                  13
11145                  9
11315                 11

### Average MI amd KXIP wickets:

In [14]:
avg_mi_kxip_wic = mi_kxip_wickets['No. of wickets'].mean()
avg_mi_kxip_wic

12.25

**Answer:** Aper the above analysis, it is found that average wickets between MI and KXIP match is 12-13.